@import '../../styles/_config.scss';
@import '../../styles/_mixins.scss';

.SearchBox {
  position: relative;
}

.SearchBox-input {
  display: block;
  width: 100%;
  padding: $spacer-sm;
  padding-right: 4rem;
  font-family: $font-family;
  color: #38495b;
  background-color: #fdfdfd;
  outline: 0;
  line-height: normal;
  font-size: rem(16px);
  border: 2px solid $color-gray-lighter;

  &::placeholder {
    color: $color-gray-lighter;
  }

  &:focus,
  &:hover {
    background-color: #fff;
    border-color: $color-primary;

    ~ .SearchBox-submitButton .SearchBox-icon {
      fill: $color-primary;
    }
  }

  @include from-medium {
    padding: $spacer;
    padding-right: 4rem;
    font-size: rem(18px);
  }
}

.SearchBox-icon {
  fill: $color-gray-lighter;
  transition: all 200ms ease-in-out;

  .SearchBox:hover & {
    fill: $color-primary;
  }
}

.SearchBox-submitButton {
  position: absolute;
  right: 1rem;
  top: calc(50% - 16px);

  display: inline-block;
  width: 40px;
  height: 40px;

  background: none;
  border: 0;
  cursor: pointer;
  outline: none;
  box-shadow: none;
}
